/* template code from https://github.com/deweydex/HTML-CSS-SQL-JS */

* {
            font-family: "Times New Roman", Times, serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
/*
===============================
HEADER STYLE
===============================
*/
header {
    background-color: #ebc026;
    color: black;
    padding: 2rem 0;
    text-align: center;
}
header h1 {
    font-size: 5rem;
}
header p {
    font-size: 1.3rem;
}

/*
===============================
NAV STYLE
===============================
*/
nav {
    background-color: #a58f40;
    padding: 0.7rem 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2.3rem;
}

nav a { 
    color: black;
    text-decoration: none;
    padding: 0.5rem 1rem;
    
}

nav a:hover {
    background-color: rgba(34, 33, 33, 0.247);
}  

#mini-Nav {
 margin-top: 2rem;
}

#mini-Nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10rem;
}

#mini-Nav a {
    background-color: #a58f40;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    padding: 0.5rem 1rem;
    
}

#mini-Nav a:hover {
    background-color: rgba(34, 33, 33, 0.247);
}  

/*
===============================
MAIN STYLE
===============================
*/

#title {
    text-align: center;
}

#title h2 {
    font-size: 3rem;
}

main {
margin: 0 ;
padding: 2rem;
background-image: url(Images/background.png);
background-position: center;
background-size: cover;
/* background-color: aqua; */
}

#Content {
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 2rem; margin-bottom: 2rem;
    background-color: rgba(0, 0, 255, 0);
    border-radius: 10px;
} 

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}
   

.card {
    max-width: 500px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1.5rem;
    background-color: #f9fafb;
}

.text {
    color: black;
    background-color: rgb(236, 236, 236);
    width: 340px;
    height: 165px;
    overflow: scroll;
    overflow-x: hidden;
}

img {
    width: 250px;
    height: 250px;
    margin: 5px;
}

#what_is {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: nowrap
}

#info {
    max-width: 1200px
}



/*
===============================
FOOTER STYLE
===============================
*/

 #footer {
            background-color: #1f2937;
            color: white;
            text-align: center;
            padding: 1rem 0;
            
        }
        
.link {
    color: white

}

/*
===============================
OTHER
===============================
*/

#White {
    color: #f9fafb;
}

* {box-sizing: border-box}
.SlidesMoka, .SlidesGran {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    width: 250px;
    height: 250px;
    margin: 5px;
    position: relative;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #ff0000;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
